# Token officiel du bot Telegram @the_kingStark_Bot
# IMPORTANT : ne mets jamais ce token dans GitHub ou dans un fichier public.
TELEGRAM_BOT_TOKEN=8800472061:AAGUYBvTZlZ9mF15VtObsukgFeQByBj91vM

# Optionnel : ancienne session WhatsApp unique
SESSION_NUMBER=
SESSION_ID=

# Port fourni automatiquement par Render/Koyeb
PORT=3000
